# macOS
.DS_Store
._*
.AppleDouble
.Spotlight-V100
.Trashes
 
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
 
# Редактори
.vscode/
.idea/
*.swp
*~
 
# Тимчасові файли Office (коли документ відкритий)
~$*
 
# Архіви
*.zip
